@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: none;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    height: 920px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .container {
    min-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
  color: #2d3436;
}

.form-button, .price-button, .about-btn, .hero-btn, .header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  transition: all 250ms linear;
  cursor: pointer;
}
.form-button:hover, .price-button:hover, .about-btn:hover, .hero-btn:hover, .header-btn:hover, .form-button:focus, .price-button:focus, .about-btn:focus, .hero-btn:focus, .header-btn:focus {
  background-color: #6c5ce7;
  color: #ffffff;
  border: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -1px;
  color: #2d3436;
}
@media screen and (min-width: 1199px) {
  .logo-link {
    margin-right: 64px;
  }
}
@media screen and (max-width: 767px) {
  .logo-link {
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: #5c5c5c;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-link {
    font-size: 36px;
  }
}

.image-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
}
@media screen and (max-width: 1199px) {
  .image-logo {
    display: none;
  }
}

.menu-btn {
  order: -1;
  border: none;
  background-color: transparent;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.header-list {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.78;
  color: #6c5ce7;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    margin-right: 98px;
  }
}

.header-item {
  position: relative;
  width: 120px;
}
@media screen and (min-width: 1200px) {
  .header-item {
    width: 150px;
  }
}
.header-item::after {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 5px;
  color: #fdcb6e;
}
.header-item:not(:last-child)::after {
  content: "•";
  position: absolute;
  right: -5px;
  top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.2px;
  color: #fdcb6e;
}

.header-link {
  padding: 7px 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.78;
  color: #6c5ce7;
}
.header-link:hover, .header-link:focus {
  font-weight: bold;
  color: #2d3436;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 1200px) {
  .header-link {
    font-size: 18px;
  }
}

.header-btn {
  width: 167px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #ffffff;
  background: #6c5ce7;
  border-radius: 50px;
  border: none;
  text-shadow: 0 2px 4px rgba(38, 50, 56, 0.16), 0 4px 8px rgba(38, 50, 56, 0.08);
}
.header-btn:hover, .header-btn:focus {
  color: #858585;
  background-color: transparent;
  border: 1px solid #adadad;
  text-shadow: none;
}
@media screen and (max-width: 767px) {
  .header-btn {
    width: 128px;
    box-shadow: 0 2px 4px rgba(38, 50, 56, 0.16), 0 4px 8px rgba(38, 50, 56, 0.08);
    border-radius: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero-section {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    width: 1200px;
  }
}

.absolute-container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .absolute-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .background-container {
    background-image: url("../../images/mobile/hero-bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    max-width: 468px;
    height: 495px;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1199px) {
  .background-container {
    max-width: 768px;
    height: 780px;
  }
}
@media screen and (max-width: 767px) and (min-width: 1200px) {
  .background-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .absolute-container::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -262.91px;
    z-index: -1;
    width: 1376.03px;
    height: 767.91px;
    background-color: #FFEAA7;
    border-radius: 50px;
    transform: rotate(-45deg);
    opacity: 0.4;
  }
}
.mobile-absolute-container {
  position: relative;
  background-image: url("../../images/mobile/hero-wave.png");
  background-repeat: repeat;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mobile-absolute-container {
    display: none;
  }
}
.mobile-absolute-container::after {
  content: " ";
  position: absolute;
  left: 25%;
  bottom: -128px;
  width: 757.27px;
  height: 422.6px;
  background: #FDCB6E;
  opacity: 0.4;
  box-shadow: -37.8165px 0px 50.423px rgba(0, 0, 0, 0.16);
  border-radius: 54px;
  transform: rotate(-45deg);
  overflow: hidden;
  z-index: -1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #2D3436;
  text-shadow: 0 4px 0 #FFFFFF;
}
@media screen and (max-width: 767px) {
  .hero {
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    font-weight: 800;
    font-size: 96px;
    line-height: 1.08;
    letter-spacing: -3px;
  }
}

.hero-container {
  position: relative;
}

.hero-container::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 129px;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-image: url("../../images/mobile/hero-wave.png");
  background-repeat: repeat-x;
}
@media screen and (min-width: 768px) {
  .hero-container::before {
    display: none;
  }
}

.hero-span {
  color: #d63031;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .hero-span-visibility {
    display: none;
  }
}
.hero-span::after {
  content: " ";
  position: absolute;
  left: -5px;
  bottom: 0;
  z-index: -1;
  width: 190px;
  height: 50px;
  background: #55efc4;
  border-radius: 25px;
}

.hero-span-mobile.hero-span-after {
  position: relative;
  color: #d63031;
}
.hero-span-mobile.hero-span-after::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  width: 119px;
  height: 32px;
  background: #55efc4;
  border-radius: 25px;
}

.hero-span-mobile {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -1px;
  color: #2D3436;
  text-shadow: 0 4px 0 #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero-span-mobile {
    display: none;
  }
}

.hero-section::before {
  content: " ";
  position: absolute;
  right: -16px;
  top: 0;
  z-index: 1;
  width: 143px;
  height: 195px;
  background-image: url(../../images/mobile/mobile-dots.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero-section::before {
    content: " ";
    position: absolute;
    right: 0;
    top: 114px;
    width: 209px;
    height: 285px;
    background-image: url(../../images/desktop/dots.png);
  }
}

.hero-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 64px;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #2d3436;
}
@media screen and (max-width: 767px) {
  .hero-text-visibility {
    display: none;
  }
}

.hero-mobile-text {
  width: 330px;
  height: 92px;
  margin: 16px auto 8px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #2D3436;
}
@media screen and (min-width: 768px) {
  .hero-mobile-text {
    display: none;
  }
}

.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.78;
  color: #2d3436;
}
.text-left {
  height: 102px;
  margin-bottom: 15px;
}
.text-right {
  width: 364px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 766px;
}
@media screen and (max-width: 1199px) {
  .flex-container {
    display: none;
  }
}

.left-container {
  width: 266px;
  margin-right: 29px;
}

.thumb-ball {
  position: relative;
  margin-bottom: 16px;
}

.label-text {
  color: #ffffff;
}

.label-ball {
  position: absolute;
  top: 50px;
  left: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.2px;
}

.label-ball-post {
  position: absolute;
  top: 120px;
  left: 65px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.25px;
}

.thumb-man {
  position: relative;
  width: 462px;
  height: 380px;
  margin-right: 30px;
}

.label-big-text {
  position: absolute;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0px #000000;
}

.label-man {
  bottom: 15px;
  left: 40px;
}

.hero-btn {
  width: 100%;
  height: 82px;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #ffffff;
  background: #6c5ce7;
  border: none;
  border-radius: 50px;
}
.hero-btn:hover, .hero-btn:focus {
  color: #858585;
  background-color: transparent;
  border: 1px solid #adadad;
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  width: 856px;
  height: 380px;
}

.right-top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 364px;
}

.text-right {
  width: 363px;
  height: 78px;
}

.horizontal-container {
  width: 364px;
}

.img-little {
  display: inline-flex;
  width: 165px;
  height: 222px;
}
.img-little:not(:last-child) {
  margin-right: 29px;
}

.img-book {
  width: 265px;
  height: 284px;
  margin-right: 29px;
}

.right-bottom-container {
  display: flex;
  margin-top: 30px;
}

.thumb-woman {
  position: relative;
  width: 364px;
  height: 356px;
  margin-right: 29px;
}

.label-woman {
  top: 20px;
  left: 35px;
}

.img-windows {
  width: 167px;
  height: 222px;
}

.hero-mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 50px;
  border: none;
}
@media screen and (min-width: 768px) {
  .hero-mobile-btn {
    display: none;
  }
}

.mobile-btn-icon {
  width: 40px;
  height: 40px;
}

.post-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #2D3436;
}
@media screen and (min-width: 768px) {
  .post-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #2d3436;
  }
}
@media screen and (max-width: 1199px) {
  .post-title {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .post-title {
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .span-about-color {
    color: #6b5ce7;
  }
}

@media screen and (max-width: 767px) {
  .span-emoji {
    display: none;
  }
}

.about-text {
  margin-top: 16px;
  margin-bottom: 8px;
}

.about-main-text {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #2D3436;
}
@media screen and (max-width: 1199px) {
  .about-main-text {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .about-main-text {
    width: 950px;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.25px;
  }
}

.about-description-text {
  font-weight: 400;
  font-size: 13.5px;
  line-height: 1.78;
  color: #5C5C5C;
}
@media screen and (min-width: 1200px) {
  .about-description-text {
    font-size: 18px;
    color: #2D3436;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
@media screen and (max-width: 767px) {
  .about-list {
    width: 360px;
  }
}

.about-item {
  display: flex;
  margin: 20px 15px;
}
@media screen and (max-width: 767px) {
  .about-item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (max-width: 1199px) {
  .about-item {
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .about-item {
    flex-wrap: wrap;
    width: 270px;
  }
}

.about-list-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #2d3436;
}
@media screen and (min-width: 1200px) {
  .about-list-title {
    font-size: 24px;
  }
}

.about-btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #6c5ce7;
  border: 1px solid #adadad;
  background-color: transparent;
}

.about-icon {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 7px;
}
@media screen and (min-width: 1200px) {
  .about-icon {
    width: 56px;
    height: 56px;
    border-radius: 50px;
  }
}

.icon-pink {
  background-color: #e84393;
  background-image: url(/images/phone-call-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-blue {
  background-color: #0984e3;
  background-image: url(/images/pie-chart-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-purple {
  background-color: #6c5ce7;
  background-image: url(/images/zap-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-green {
  background-color: #00b894;
  background-image: url(/images/thumbs-up-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-price-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #2D3436;
}
@media screen and (min-width: 768px) {
  .mobile-price-title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .vivsible-title {
    display: none;
  }
}

.price-text {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 1.5;
  color: #adadad;
}
@media screen and (min-width: 768px) {
  .price-text {
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.5px;
  }
}

.mobile-price-span,
.price-span {
  position: relative;
  color: #6c5ce7;
}
.mobile-price-span::after,
.price-span::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 12px;
  background: #fdcb6e;
  border-radius: 999px;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .mobile-price-span::after {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .price-span::after {
    display: none;
  }
}

.price-plan {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #6C5CE7;
  text-shadow: 0 4px 0 #FFFFFF;
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .price-plan {
    font-weight: 800;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: baseline;
    letter-spacing: 2.5px;
    color: #2d3436;
  }
}

.price-plan-enterprise {
  color: #FFFFFF;
  text-shadow: 0 4px 0 #000000;
}

.plan-span {
  display: flex;
  align-items: flex-end;
  color: #6C5CE7;
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .plan-span {
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -1px;
    text-transform: none;
    color: #2d3436;
  }
}

.plan-span-enterprise {
  color: #FFFFFF;
  text-shadow: 0 4px 0 #000000;
}

.mobile-price-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .mobile-price-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-price-list {
    display: none;
  }
}

.price-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 1199px) {
  .price-list {
    display: none;
  }
}

.price-item {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 392px;
  padding: 24px;
  background: #ffffff;
  border-radius: 16px;
}
@media screen and (min-width: 1200px) {
  .price-item {
    width: 370px;
    height: 536px;
    padding: 32px;
  }
  .price-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .mobile-price-item {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .mobile-price-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-price-item:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-price-item {
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
  }
}
@media screen and (max-width: 767px) {
  .mobile-price-item {
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
  }
}

.mobile-price-individual::after {
  content: "FINE!";
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 90px;
  height: 32px;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2d3436;
  border: 1px solid #858585;
  border-radius: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-price-individual::after {
    top: 24px;
    right: 24px;
    width: 70px;
    height: 25px;
    font-size: 10px;
  }
}

.mobile-price-professional::after {
  content: "GOOD!";
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 90px;
  height: 32px;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2d3436;
  border: 1px solid #858585;
  border-radius: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-price-professional::after {
    width: 70px;
    height: 25px;
    font-size: 10px;
    top: 24px;
    right: 24px;
  }
}

.mobile-price-enterprise {
  color: #55EFC4;
  background-color: #6C5CE7;
}

.mobile-price-enterprise::after {
  content: "WOW!";
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 90px;
  height: 32px;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #55EFC4;
  border: 1px solid #55EFC4;
  border-radius: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-price-enterprise::after {
    width: 70px;
    height: 25px;
    font-size: 10px;
    top: 24px;
    right: 24px;
  }
}

.price-title.price-title-enterprise {
  color: #55EFC4;
}

.features-text.features-text-enterprise {
  color: #FFFFFF;
}

.price-icon-enterprise {
  background-color: #2D3436;
}

.price-item-choice {
  position: relative;
  z-index: 0;
  filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
}
.price-item-choice::before {
  content: "BEST!";
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 90px;
  height: 32px;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2d3436;
  border: 1px solid #6c5ce7;
  border-radius: 25px;
}

.price-title {
  color: #2D3436;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price-title {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .price-title {
    margin-bottom: 16px;
    color: #6c5ce7;
  }
}

.features-item {
  display: flex;
  align-items: center;
}
.features-item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .features-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.price-icon-check {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50px;
}
@media screen and (min-width: 1200px) {
  .price-icon-check {
    width: 32px;
    height: 32px;
  }
}

.price-icon-gray {
  background-color: #c2c2c2;
}

.price-icon-yellow {
  background-color: #fdcb6e;
}

.price-icon-mint {
  background-color: #55efc4;
}

.features-text {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #2d3436;
}
@media screen and (min-width: 1200px) {
  .features-text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.78;
  }
}

.price-button {
  width: 100%;
  height: 64px;
  margin-top: auto;
  border: 1px solid #adadad;
  letter-spacing: 0.2px;
  color: #6c5ce7;
}
@media screen and (min-width: 1200px) {
  .price-button {
    height: 64px;
  }
}
.price-button:hover, .price-button:focus {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

.price-button-enterprise {
  color: #2D3436;
  border: none;
  filter: drop-shadow(0px 4px 6px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 16px rgba(38, 50, 56, 0.08));
}

.mobile-price-button {
  color: #FFFFFF;
  background-color: #6C5CE7;
  border: none;
}

.wrapper {
  display: flex;
}
@media screen and (max-width: 767px) {
  .wrapper {
    display: none;
  }
}

.footer {
  display: flex;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 767px) {
  .footer {
    background: url(../../images/desktop/wave.png);
    background-position: bottom;
    background-repeat: repeat-x;
  }
}
.footer::before {
  content: " ";
  position: absolute;
  width: 631.69px;
  height: 352.52px;
  left: -410px;
  bottom: -240px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  background: #6C5CE7;
  opacity: 0.24;
  border-radius: 45.4479px;
}
@media screen and (min-width: 768px) {
  .footer::before {
    display: none;
  }
}
.footer::after {
  content: " ";
  position: absolute;
  width: 631.69px;
  height: 207.75px;
  left: 0;
  bottom: -287.25px;
  background: #FDCB6E;
  mix-blend-mode: multiply;
  opacity: 0.24;
  border-radius: 45.4479px;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}
@media screen and (min-width: 768px) {
  .footer::after {
    display: none;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: clip;
  padding: 80px 15px 135px;
}
@media screen and (max-width: 767px) {
  .footer-container {
    padding: 40px 0;
  }
}

.mobile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 330px;
}
@media screen and (min-width: 768px) {
  .mobile-wrapper {
    display: none;
  }
}

.mobile-footer-copyright {
  width: 245px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2D3436;
}

.mobile-footer-text {
  width: 160px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.3px;
  color: #00B894;
}

.mobile-footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.2px;
  color: #6C5CE7;
}

.mobile-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.footer-wrap {
  width: 50%;
}

.footer-wrap-left {
  margin-right: 30px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 250ms linear;
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #ffeaa7;
  border-radius: 50px;
}

.footer-social-item:not(:last-child) {
  margin-right: 37px;
}

.footer-text {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #adadad;
}

.footer-text-margin {
  margin-bottom: 8px;
}

.footer-text-position {
  margin-top: 40px;
  margin-bottom: 16px;
}

.footer-info-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -15px;
}

.footer-info-item {
  margin: 8px 0;
  padding: 0 15px;
  flex-basis: 50%;
}
@media screen and (min-width: 1200px) {
  .footer-info-item {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-info-item .footer-info-item {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.25px;
  color: #2d3436;
}
.footer-info-link:hover, .footer-info-link:focus {
  text-decoration: underline;
}

.mail-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #6c5ce7;
}

.footer-form {
  margin-top: 48px;
}

.footer-mail-position {
  margin-top: 48px;
  margin-bottom: 16px;
}

.footer-input {
  margin-bottom: 30px;
  width: 270px;
  height: 48px;
  padding: 8px 16px;
  font-weight: 400;
  color: #2d3436;
}
.footer-input:focus {
  border: 2px solid #6c5ce7;
  letter-spacing: 0.2px;
  color: #6c5ce7;
}
.footer-input:focus::placeholder {
  color: #6c5ce7;
}

.footer-input-style {
  font-size: 18px;
  line-height: 1.78;
  background-color: #f0f0f0;
  border-radius: 16px;
  border: none;
  transition: all 250ms linear;
}

.footer-area-message {
  width: 370px;
  height: 80px;
  padding: 16px;
  resize: none;
}
.footer-area-message:focus {
  border: 2px solid #6c5ce7;
  color: #6c5ce7;
  letter-spacing: 0.2px;
}
.footer-area-message:focus::placeholder {
  color: #6c5ce7;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-button {
  width: 170px;
  height: 80px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #ffffff;
  background-color: #6c5ce7;
  text-shadow: 0 2px 4px rgba(38, 50, 56, 0.16), 0 4px 8px rgba(38, 50, 56, 0.08);
  box-shadow: 0 8px 24px rgba(38, 50, 56, 0.1), 0 16px 32px rgba(38, 50, 56, 0.08);
  border: none;
}
.form-button:hover, .form-button:focus {
  color: #858585;
  background-color: transparent;
  border: 1px solid #adadad;
}

.footer-form-label {
  position: relative;
}

.footer-form-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  transition: all 250ms linear;
}
.footer-input-style:focus + .footer-form-icon {
  filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100%;
  padding: 50px 60px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 350ms linear, visibility 350ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-link {
  font-size: 42px;
  color: #6C5CE7;
}

.mobile-menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.mobile-menu-social {
  display: flex;
  width: 330px;
  justify-content: space-between;
}

.mobile-menu-item {
  position: relative;
}

.mobile-social-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-btn-close {
  position: absolute;
  left: 28px;
  top: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-icon-close {
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*# sourceMappingURL=main.css.map */
