h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -1px;
  color: #2d3436;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
          filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  margin-right: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: -1px;
  color: #2d3436;
}

.logo-icon {
  width: 64px;
  height: 64px;
  fill: black;
}

.header-list {
  margin-right: 98px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #6c5ce7;
}

.header-item::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 5px;
  color: #fdcb6e;
}

.header-item:not(:last-child) {
  margin-right: 16px;
}

.header-item:not(:first-child) {
  margin-left: 16px;
}

.header-link {
  padding: 7px 5px;
}

.header-link:hover, .header-link:focus {
  font-weight: bold;
  color: #2d3436;
  letter-spacing: 0.2px;
}

.header-btn {
  width: 167px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  background: #6c5ce7;
  border-radius: 50px;
  border: none;
}

.hero-section {
  position: relative;
}

.hero-section::before {
  content: "";
  background-image: url(../../images/desktop/dots.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 209px;
  height: 285px;
  right: 0px;
  top: 114px;
  z-index: 1;
}

.hero-section::after {
  content: "";
  position: absolute;
  width: 1376.03px;
  height: 767.91px;
  left: 855px;
  top: -463.91px;
  background: #ffeaa7;
  border-radius: 99px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden;
  z-index: -5;
}

.hero {
  font-weight: 800;
  font-size: 96px;
  line-height: 1.08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -3px;
  color: #2d3436;
  text-shadow: 0px 4px 0px #ffffff;
}

.hero-span {
  color: #d63031;
  position: relative;
}

.hero-span::after {
  content: "";
  width: 190px;
  height: 50px;
  background: #55efc4;
  border-radius: 999px;
  position: absolute;
  left: -5px;
  bottom: 0;
  z-index: -1;
}

.hero-text {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -1px;
  color: #2d3436;
}

.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.78;
  color: #2d3436;
}

.text-left {
  width: 266px;
}

.text-right {
  width: 364px;
}

.post-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.5px;
  color: #2d3436;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item {
  margin-top: 40px;
  width: 270px;
}

.about-title {
  margin-top: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.25px;
  color: #2d3436;
}

.about-text {
  margin-top: 16px;
  margin-bottom: 8px;
}

.about-btn {
  padding: 8px 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6c5ce7;
  border: 1px solid #adadad;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  background-color: transparent;
}

.about-icon {
  fill: #ffeaa7;
}

.icon-pink {
  background-color: #e84393;
}

.icon-blue {
  background-color: #0984e3;
}

.icon-purple {
  background-color: #6c5ce7;
}

.icon-green {
  background-color: #00b894;
}

.price-text {
  margin-top: 34px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.5px;
  /* 32% Gray Light */
  color: #adadad;
}

.price-span {
  position: relative;
  color: #6c5ce7;
}

.price-span::after {
  content: "";
  position: absolute;
  width: 126px;
  height: 12px;
  background: #fdcb6e;
  border-radius: 999px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
}

.price-plan {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 2.5px;
  text-transform: none;
  text-transform: uppercase;
  color: #2d3436;
}

.plan-span {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -1px;
  text-transform: none;
  color: #2d3436;
}

.price-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-item {
  width: 370px;
  height: 536px;
  padding: 32px;
}

.price-item:hover, .price-item:focus {
  -webkit-filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
          filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
}

.item-after {
  position: relative;
}

.item-after::after {
  content: "BEST!";
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 8px;
  width: 90px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  /* Black */
  color: #2d3436;
  border: 1px solid #6c5ce7;
  border-radius: 25px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */