.post-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: #2D3436;

    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #2d3436;
    }
    
    @media screen and (max-width: 1199px) {
        justify-content: center;
    }

    @media screen and (max-width: 767px) {
        width: 330px;
    }
}

.span-about-color {
    @media screen and (max-width: 767px) {
        color: #6b5ce7;
    }
}

.span-emoji {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.about-text {
    margin-top: 16px;
    margin-bottom: 8px;
}

.about-main-text {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #2D3436;

    @media screen and (max-width: 1199px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        width: 950px;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: -0.25px;
    }
}

.about-description-text {
    font-weight: 400;
    font-size: 13.5px;
    line-height: 1.78;
    color: #5C5C5C;

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        color: #2D3436;
    }
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
    //margin: -20px -15px;

    @media screen and (max-width: 767px) {
        width: 360px;
    }
}

.about-item {
    display: flex;
    margin: 20px 15px;

    @media screen and (max-width:767px) {
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (max-width: 1199px) {
        justify-content: space-between;
        flex-direction: column;
        width: 150px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: wrap;
        width: 270px;
    }
}

.about-list-title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: #2d3436;

    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

.about-btn {
    @extend %button;

    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #6c5ce7;
    border: 1px solid #adadad;
    background-color: transparent;
}

.about-icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 7px;

    @media screen and (min-width: 1200px) {
        width: 56px;
        height: 56px;
        border-radius: 50px;
    }
}

.icon-pink {
    background-color: #e84393;
    background-image: url(/images/phone-call-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-blue {
    background-color: #0984e3;
    background-image: url(/images/pie-chart-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-purple {
    background-color: #6c5ce7;
    background-image: url(/images/zap-svgrepo-com.svg);

    background-repeat: no-repeat;
    background-position: center;
}

.icon-green {
    background-color: #00b894;
    background-image: url(/images/thumbs-up-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
}
