.header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;

    background-color: #ffffff;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
        drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-nav {
    display: flex;
}

.logo {
    margin-right: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.17;

    display: flex;
    align-items: flex-end;
    letter-spacing: -1px;

    color: #2d3436;
}

.logo-icon {
    width: 64px;
    height: 64px;
    fill: black;
}

.header-list {
    margin-right: 98px;

    font-weight: normal;
    font-size: 18px;
    line-height: 1.78;

    display: flex;
    align-items: center;
    text-align: center;

    color: #6c5ce7;
}

.header-item::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 5px;
    color: #fdcb6e;
}

.header-item:not(:last-child) {
    margin-right: 16px;
}

.header-item:not(:first-child) {
    margin-left: 16px;
}

.header-link {
    padding: 7px 5px;

    &:hover,
    &:focus {
        font-weight: bold;
        color: #2d3436;
        letter-spacing: 0.2px;
    }
}

.header-btn {
    width: 167px;
    padding: 8px 16px;

    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    // text-align: center;
    justify-content: center;
    letter-spacing: 0.25px;

    color: #ffffff;

    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
        0px 4px 8px rgba(38, 50, 56, 0.08);

    background: #6c5ce7;
    border-radius: 50px;
    border: none;
    // align-self: center;
}
