.header {
    padding-top: 16px;
    padding-bottom: 16px;
    //display: flex;
    //
    //justify-content: space-between;

    background-color: #ffffff;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16))
        drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

.header-container {
    display: flex;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    margin-right: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;

    display: flex;
    align-items: flex-end;
    letter-spacing: -1px;

    color: #2d3436;

    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.5;

        align-items: center;
        letter-spacing: 0.25px;

        color: #5c5c5c;
    }
}

.image-logo {
    display: inline-block;
    width: 64px;
    height: 64px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu-btn {
    order: -1;
    border: none;
    background-color: transparent;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.header-list {
    margin-right: 98px;

    font-weight: normal;
    font-size: 18px;
    line-height: 1.78;

    display: flex;
    align-items: center;
    text-align: center;

    color: #6c5ce7;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-item {
    position: relative;
    width: 150px;

    &::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 5px;
        color: #fdcb6e;
    }

    // &:not(:last-child) {
    //     margin-right: 16px;
    // }

    // &:not(:first-child) {
    //     margin-left: 16px;
    // }

    &:not(:last-child)::after {
        content: "•";
        position: absolute;
        right: -5px;
        top: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.78;
        letter-spacing: 0.2px;

        color: #fdcb6e;
    }
}

.header-link {
    padding: 7px 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;

    // display: flex;
    // align-items: center;
    // text-align: center;

    color: #6c5ce7;

    &:hover,
    &:focus {
        font-weight: bold;
        color: #2d3436;
        letter-spacing: 0.2px;
    }
}

.header-btn {
    @extend %button;

    width: 167px;

    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: #ffffff;
    background: #6c5ce7;
    border-radius: 50px;
    border: none;
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
        0px 4px 8px rgba(38, 50, 56, 0.08);

    &:hover,
    &:focus {
        color: #858585;
        background-color: transparent;
        border: 1px solid #adadad;
        text-shadow: none;
    }

    @media screen and (max-width: 767px) {
        width: 128px;

        box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
            0px 4px 8px rgba(38, 50, 56, 0.08);
        border-radius: 8px;
    }
}
