.hero-section {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.absolute-container {
    position: relative;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.background-container {
    @media screen and (max-width: 767px) {
        background-image: url("../../images/mobile/hero-bg1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        max-width: 468px;
        height: 495px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 768px;
            height: 780px;
        }

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}



@media screen and (min-width: 768px) {

    .absolute-container::after {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: -262.91px;
        z-index: -1;
        width: 1376.03px;
        height: 767.91px;

        background-color: #FFEAA7;
        border-radius: 50px;
        transform: rotate(-45deg);
        opacity: 0.4;
    }
}

.mobile-absolute-container {
    position: relative;
    background-image: url("../../images/mobile/hero-wave.png");
    background-repeat: repeat;
    width: 100%;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &::after {
        content: " ";
        position: absolute;
        left: 25%;
        bottom: -128px;
        width: 757.27px;
        height: 422.6px;

        background: #FDCB6E;
        opacity: 0.4;
        box-shadow: -37.8165px 0px 50.423px rgba(0, 0, 0, 0.16);
        border-radius: 54px;
        transform: rotate(-45deg);
        overflow: hidden;
        z-index: -1;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    font-weight: 900;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #2D3436;
    text-shadow: 0 4px 0 #FFFFFF;

    @media screen and (max-width: 767px) {
        width: 330px;
    }

    @media screen and (min-width: 768px) {
        font-weight: 800;
        font-size: 96px;
        line-height: 1.08;
        letter-spacing: -3px;
    }
}

.hero-container {
    position: relative;
}

.hero-container::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 129px;
    z-index: -3;
    width: 100%;
    height: 100%;
    background-image: url("../../images/mobile/hero-wave.png");
    background-repeat: repeat-x;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hero-span {
    color: #d63031;
    position: relative;
    z-index: 1;

    &-visibility {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &::after {
        content: " ";
        position: absolute;
        left: -5px;
        bottom: 0;
        z-index: -1;
        width: 190px;
        height: 50px;

        background: #55efc4;
        border-radius: 25px;
    }
}

.hero-span-mobile.hero-span-after {
    position: relative;
    color: #d63031;

    &::after {
        content: " ";
        position: absolute;
        bottom: -5px;
        left: -5px;
        z-index: -1;
        width: 119px;
        height: 32px;

        background: #55efc4;
        border-radius: 25px;
    }
}

.hero-span-mobile {
    @media screen and (min-width:768px) {
        display: none;
    }

    display: flex;
    align-items: center;
    text-align: center;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -1px;
    color: #2D3436;
    text-shadow: 0 4px 0 #FFFFFF;
}

.hero-section::before {
    content: " ";
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1;
    width: 143px;
    height: 195px;
    background-image: url(../../images/mobile/mobile-dots.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        content: " ";
        position: absolute;
        right: 0;
        top: 114px;
        width: 209px;
        height: 285px;
        background-image: url(../../images/desktop/dots.png);
    }
}

.hero-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 64px;

    font-weight: 900;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #2d3436;

    &-visibility {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

.hero-mobile-text {
    width: 330px;
    height: 92px;
    margin: 16px auto 8px;
    text-align: center;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    color: #2D3436;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.78;
    color: #2d3436;

    &-left {
        height: 102px;
        margin-bottom: 15px;
    }

    &-right {
        width: 364px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 766px;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.left-container {
    width: 266px;
    margin-right: 29px;
}

.thumb-ball {
    position: relative;
    margin-bottom: 16px;
    // width: 266px;
    // height: 464px;
}

.label-text {
    color: #ffffff;
}

.label-ball {
    position: absolute;
    top: 50px;
    left: 5px;
    text-align: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.2px;
}

.label-ball-post {
    position: absolute;
    top: 120px;
    left: 65px;
    text-align: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.25px;
}

.thumb-man {
    position: relative;
    width: 462px;
    height: 380px;
    margin-right: 30px;
}

.label-big-text {
    position: absolute;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -1px;

    text-shadow: 0px 4px 0px #000000;
}

.label-man {
    bottom: 15px;
    left: 40px;
}

.hero-btn {
    @extend %button;

    width: 100%;
    height: 82px;

    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #ffffff;
    background: #6c5ce7;
    border: none;
    border-radius: 50px;

    &:hover,
    &:focus {
        color: #858585;
        background-color: transparent;
        border: 1px solid #adadad;
    }
}

.right-container {
    display: flex;
    flex-wrap: wrap;
    width: 856px;
    height: 380px;
}

.right-top-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 364px;
}

.text-right {
    width: 363px;
    height: 78px;
}

.horizontal-container {
    width: 364px;
}

.img-little {
    display: inline-flex;
    width: 165px;
    height: 222px;

    &:not(:last-child) {
        margin-right: 29px;
    }
}

.img-book {
    width: 265px;
    height: 284px;
    margin-right: 29px;
}

.right-bottom-container {
    display: flex;
    margin-top: 30px;
}

.thumb-woman {
    position: relative;
    width: 364px;
    height: 356px;
    margin-right: 29px;
}

.label-woman {
    top: 20px;
    left: 35px;
}

.img-windows {
    width: 167px;
    height: 222px;
}

.hero-mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 0 auto;

    background: rgba(255, 255, 255, 0.24);
    border-radius: 50px;
    border: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-btn-icon {
    width: 40px;
    height: 40px;
}

//.mobile-flex-container {
//    display: flex;
//    flex-wrap: wrap;
//    width: 470px;
//    height: 495px;
//    margin: 24px auto 0;
//
//    @media screen and (min-width: 1200px) {
//        display: none;
//    }
//}
//
//.mobile-left-container {
//    position: relative;
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: flex-end;
//    align-content: center;
//    margin-right: 15px;
//    width: 130px;
//    height: 495px;
//}
//
//.mobile-thumb-pomade {
//    position: relative;
//}
//
//.mobile-label-pomade {
//    position: absolute;
//    left: 20px;
//    top: 8px;
//    text-align: center;
//
//    font-weight: 700;
//    font-size: 8.67394px;
//    line-height: 1.78;
//    letter-spacing: 0.0963771px;
//    color: #FFFFFF;
//
//    &-small {
//        position: absolute;
//        left: 35px;
//        top: 25px;
//        text-align: center;
//
//        font-weight: 400;
//        font-size: 6.7464px;
//        line-height: 1.71;
//        color: #FFFFFF;
//    }
//}
//
//.mobile-thumb-flower {
//    position: relative;
//    width: 82px;
//    margin-top: 15px;
//}
//
//.label-flower {
//    position: absolute;
//    right: 22px;
//    bottom: 10px;
//
//    font-weight: 700;
//    font-size: 8.67394px;
//    line-height: 1.78;
//    letter-spacing: 0.0963771px;
//    color: #2D3436;
//}
//
//.mobile-right-container {
//    display: flex;
//    flex-wrap: wrap;
//    width: 324px;
//}
//
//.mobile-top-container {
//    display: flex;
//    flex-wrap: wrap;
//    height: 183px;
//    align-items: flex-end;
//}
//
//.mobile-man-thumb {
//    position: relative;
//    margin-right: 15px;
//}
//
//.mobile-man {
//    width: 224px;
//    height: 183px;
//    background-color: rgba(0,0,0,.9);
//    border-radius: 10px;
//}
//
//.mobile-label-man {
//    position: absolute;
//    left: 0;
//    top: 0;
//    text-align: center;
//    width: 100%;
//    height: 61px;
//    padding: 8px;
//
//    font-weight: 700;
//    font-size: 23px;
//    line-height: 1.17;
//    letter-spacing: -0.481886px;
//    color: #FFFFFF;
//    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
//    opacity: 0.48;
//    border-radius: 10px;
//}
//
//.mobile-alarm-thumb {
//    position: relative;
//    width: 84px;
//    height: 107px;
//}
//
//.mobile-label-alarm {
//    position: absolute;
//    right: 8px;
//    top: 8px;
//    text-align: center;
//
//    font-weight: 700;
//    font-size: 9px;
//    line-height: 1.78;
//    letter-spacing: 0.1px;
//    color: #2D3436;
//}
//
//.mobile-bottom-container {
//    display: flex;
//    flex-wrap: wrap;
//    margin-top: 15px;
//}
//
//.mobile-bottom-left-container {
//    width: 130px;
//    margin-right: 15px;
//}
//
//.mobile-flower-pot-thumb {
//    position: relative;
//    width: 130px;
//    height: 136px;
//}
//
//.mobile-flower-pot-label {
//    position: absolute;
//    left: 30px;
//    bottom: 4px;
//    font-weight: 400;
//    font-size: 11.5653px;
//    line-height: 1.5;
//    letter-spacing: -0.120471px;
//    color: #2D3436;
//    border-radius: 4px;
//}
//
//.mobile-desk-thumb {
//    position: relative;
//    width: 130px;
//    height: 146px;
//    margin-top: 15px;
//}
//
//.mobile-abstraction-thumb {
//    position: relative;
//    width: 179px;
//    height: 182px;
//    margin-bottom: 15px;
//}
//
//.mobile-desk-label {
//    position: absolute;
//    left: 0;
//    bottom: 8px;
//
//    text-align: center;
//    font-weight: 700;
//    font-size: 23px;
//    line-height: 1.17;
//    letter-spacing: -0.5px;
//    color: #2D3436;
//}
//
//.mobile-label-abstraction {
//    position: absolute;
//    left: 0;
//    top: 70px;
//
//    font-weight: 700;
//    font-size: 23px;
//    line-height: 1.17;
//    text-align: center;
//    letter-spacing: -0.5px;
//    color: #FFFFFF;
//    text-shadow: 0px 5.78263px 5.78263px rgba(28, 65, 84, 0.1),
//    0px 11.5653px 11.5653px rgba(28, 65, 84, 0.08),
//    0px 30.8407px 23.1305px rgba(28, 65, 84, 0.08),
//    0px 30.8407px 30.8407px rgba(28, 65, 84, 0.04);
//}
//
//.mobile-label-abstraction-small {
//    position: absolute;
//    left: 18px;
//    bottom: 5px;
//
//    font-weight: 700;
//    font-size: 8.67394px;
//    line-height: 1.78;
//    letter-spacing: 0.1px;
//    color: #2D3436;
//    border-radius: 4px;
//}
//
//.mobile-hero-btn {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    width: 130px;
//    height: 37px;
//    padding: 8px 16px;
//
//    background: #6C5CE7;
//    border-radius: 25px;
//    border: none;
//    font-weight: 700;
//    font-size: 14px;
//    line-height: 1.71;
//    letter-spacing: 0.2px;
//    color: #FFFFFF;
//}
