.hero-section {
    position: relative;

    width: 1200px;
    margin: 0 auto;
}

// .hero-container {
//     position: relative;
// }

.absolute-container {
    width: 778px;
    height: 722px;
    position: absolute;
    top: -75px;
    right: -110px;
    background-image: url(../../images/desktop/rectangle.png);
    background-repeat: no-repeat;
    opacity: 0.4;
    overflow-x: hidden;

    // background-position: top right;
    background-size: auto auto;
    z-index: -10;
}

.hero {
    font-weight: 800;
    font-size: 96px;
    line-height: 1.08;

    display: flex;
    align-items: center;
    justify-content: center;
    // text-align: center;
    letter-spacing: -3px;

    color: #2d3436;
    text-shadow: 0px 4px 0px #ffffff;
}

.hero-span {
    color: #d63031;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        width: 190px;
        height: 50px;

        background: #55efc4;
        border-radius: 25px;

        position: absolute;
        left: -5px;
        bottom: 0;
        z-index: -1;
    }
}

.hero-section::before {
    content: " ";
    background-image: url(../../images/desktop/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 209px;
    height: 285px;
    right: 0px;
    top: 114px;
    z-index: 1;
}

// .hero-section::after {
//     content: "";
//     position: absolute;

//     width: 1376.03px;
//     height: 767.91px;
//     left: 855px;
//     top: -463.91px;
//     background: #ffeaa7;
//     border-radius: 99px;
//     transform: rotate(-45deg);
//     overflow: hidden;
//     // width: 50%;
//     // height: 50%;
//     // top: 0;
//     // right: 0;
//     background-image: url(../../images/desktop/Rectangle.png);
//     background-repeat: no-repeat;

//     z-index: -5;
// }

.hero-text {
    margin-bottom: 64px;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // text-align: center;
    letter-spacing: -1px;

    color: #2d3436;
}

.text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.78;
    color: #2d3436;

    &-left {
        // width: 266px;
        height: 102px;
        margin-bottom: 15px;
    }

    &-right {
        width: 364px;
    }
}

// .text-left {
//     width: 266px;
// }

// .text-right {
//     width: 364px;
// }

.flex-container {
    height: 766px;

    display: flex;
    flex-wrap: wrap;
}

.left-container {
    width: 266px;

    margin-right: 29px;
}

.thumb-ball {
    margin-bottom: 16px;

    position: relative;
    // width: 266px;
    // height: 464px;
}

.label-text {
    color: #ffffff;
}

.label-ball {
    position: absolute;
    top: 50px;
    left: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;

    text-align: center;
    letter-spacing: 0.2px;
}

.label-ball-post {
    position: absolute;
    top: 120px;
    left: 65px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    text-align: center;
    letter-spacing: 0.25px;
}

.thumb-man {
    position: relative;
    width: 462px;
    height: 380px;

    margin-right: 30px;
}

.label-big-text {
    position: absolute;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -1px;

    text-shadow: 0px 4px 0px #000000;
}

.label-man {
    bottom: 15px;
    left: 40px;
}

.hero-btn {
    @extend %button;

    width: 100%;
    height: 82px;

    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: #ffffff;
    background: #6c5ce7;
    border: none;
    border-radius: 50px;

    &:hover,
    &:focus {
        color: #858585;
        background-color: transparent;
        border: 1px solid #adadad;
    }
}

.right-container {
    width: 856px;
    height: 380px;
    // margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
}

.right-top-container {
    width: 364px;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.text-right {
    width: 363px;
    height: 78px;
}

.horizontal-container {
    width: 364px;
}

.img-little {
    width: 165px;
    height: 222px;

    display: inline-flex;

    &:not(:last-child) {
        margin-right: 29px;
    }
}

.img-book {
    width: 265px;
    height: 284px;

    margin-right: 29px;
}

.right-bottom-container {
    display: flex;

    margin-top: 30px;
}

.thumb-woman {
    position: relative;

    width: 364px;
    height: 356px;

    margin-right: 29px;
}

.label-woman {
    position: absolute;

    top: 20px;
    left: 35px;
}

.img-windows {
    width: 167px;
    height: 222px;
}

// .img-bottom:not(:last-child) {
//     margin-right: 29px;
// }
